/**************************
  COLORS
***************************/
body {
  font-family: 'Ubuntu', 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #F8F8F8 !important; }

#notifications:before {
  background-image: url("../img/notifications.png"); }

.top-menu li a.tm-notification {
  background-image: url("../img/icons/notification.png"); }
.top-menu li a.tm-heart {
  background-image: url("../img/icons/heart.png"); }

.centered {
  margin: 0 auto !important; }

.hero-image {
  background-color: #1A237E;
  background-image: url("../img/hero-bg-woman-hayek2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }

.mountain-image {
  background-color: #1A237E;
  background-image: url("../img/mountain-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }

.list-none li {
  list-style: none !important; }

.jumbotron {
  background: transparent;
  margin-top: -50px;
  margin-bottom: 0; }

#header.home-header {
  background: transparent;
  box-shadow: none;
  position: inherit;
  margin-top: -65px; }

.header-form {
  font-size: 13px;
  font-weight: bold; }
  .header-form .form-group {
    float: left;
    margin-bottom: 0;
    margin-top: 6px; }
    .header-form .form-group .select {
      background: transparent;
      color: #FFFFFF;
      display: inline-block;
      float: right;
      width: 65px;
      margin-top: -2px;
      font-size: 13px; }
      .header-form .form-group .select:before {
        display: none; }
      .header-form .form-group .select .form-control {
        height: 30px;
        border: none;
        color: #FFFFFF;
        background: transparent;
        font-size: 13px; }
    .header-form .form-group .form-label {
      display: inline-block;
      margin-top: 3px;
      padding-right: 4px; }
  .header-form .rate {
    display: inline-block;
    float: left;
    margin-top: 9px;
    font-weight: bold; }
  .header-form .dim {
    color: #9FA8DA; }

.navbar-header .navbar-brand {
  background: url("../img/hk-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 70px;
  text-indent: -9999px;
  margin-left: 0 !important;
  margin-top: 3px; }

.dashboard-header {
  box-shadow: none; }
  .dashboard-header .navbar-brand {
    background: url("../img/hk-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 124px !important;
    text-indent: -9999px;
    margin-top: -10px;
    margin-right: 40px;
    margin-left: 10px; }

.rate-mobile {
  display: none; }

.home-nav {
  background: transparent;
  border: none; }
  .home-nav .nav li {
    margin-top: 15px;
    margin-left: 5px; }
    .home-nav .nav li a {
      color: white !important;
      font-size: 14px;
      font-weight: 500;
      -webkit-transition: all;
      -o-transition: all;
      transition: all;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
      .home-nav .nav li a:hover {
        color: #ff9800 !important; }
    .home-nav .nav li a.btn {
      top: 10px;
      margin-left: 10px;
      font-size: 14.4px;
      font-weight: 500;
      padding: 6px 12px;
      text-transform: none; }
      .home-nav .nav li a.btn.btn-gold {
        background: transparent;
        border: 1px solid #ff9800 !important;
        color: #ff9800 !important; }
        .home-nav .nav li a.btn.btn-gold:hover, .home-nav .nav li a.btn.btn-gold:active, .home-nav .nav li a.btn.btn-gold:focus {
          background: #ff9800 !important;
          color: white !important; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: transparent; }
.navbar-default.subnav {
  background: white; }

.nav li a {
  color: #4285F4;
  margin-right: 10px; }
.nav.buttons a {
  margin: 0px; }

.navbar-collapse {
  padding: 0; }

.subnav {
  border: none; }
  .subnav .nav li .btn {
    margin-left: 15px;
    margin-top: 10px;
    padding: 6px 12px;
    color: white; }
    .subnav .nav li .btn:hover, .subnav .nav li .btn:active, .subnav .nav li .btn:focus {
      color: white; }
  .subnav .nav li:last-child {
    margin-right: 10px; }
  .subnav .navbar-nav .active a, .subnav .navbar-nav .active a:hover {
    border-bottom: 2px solid #FFA200;
    background-color: transparent;
    color: black; }
  .subnav .navbar-nav .form-group {
    margin-bottom: 0;
    margin-top: 10px; }
    .subnav .navbar-nav .form-group .select {
      display: inline-block;
      float: right;
      width: 65px; }
      .subnav .navbar-nav .form-group .select .form-control {
        height: 30px;
        padding-left: 10px;
        border: 1px solid #ddd;
        border-radius: 2px; }
    .subnav .navbar-nav .form-group .form-label {
      display: inline-block;
      margin-top: 8px;
      padding-right: 10px; }
  .subnav .navbar-nav .select.fg-line:before {
    top: 8px;
    background-color: transparent;
    right: 0; }

.user-name a {
  top: -10px;
  color: white; }
.user-name:not(#toggle-width):hover::before, .user-name:not(#toggle-width).open::before {
  background: transparent !important; }

.block-header h3 {
  font-weight: 400; }
.block-header .icon-img {
  margin-right: 10px;
  width: 25px;
  height: 25px; }
.block-header .actions {
  right: 0;
  top: 0px; }
  .block-header .actions button {
    background: transparent;
    box-shadow: none !important;
    border: 1px solid #ccc;
    height: 30px; }
  .block-header .actions input {
    font-family: "fontawesome";
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: -1px; }
  .block-header .actions .fg-line {
    top: -2px; }
  .block-header .actions .chosen-single {
    height: 30px;
    border: 1px solid #ccc;
    top: -1px; }
  .block-header .actions .chosen-container-single:before {
    top: 7px; }
  .block-header .actions .chosen-single span {
    line-height: 2;
    padding-left: 5px; }
  .block-header .actions .block-header-form {
    float: right;
    margin-left: 4px; }
    .block-header .actions .block-header-form .form-group {
      width: 120px; }
      .block-header .actions .block-header-form .form-group select {
        height: 30px;
        border: 1px solid #ccc;
        top: -1px;
        padding-left: 5px;
        border-radius: 2px; }
      .block-header .actions .block-header-form .form-group .select:before {
        top: 8px;
        background-color: transparent; }
      .block-header .actions .block-header-form .form-group .form-control span {
        line-height: 2;
        padding-left: 5px; }

.btn-float-far-right {
  right: -25px; }

.btn-float-far-left {
  left: -25px; }

.btn-float-left, .btn-float-right {
  bottom: -23px;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  line-height: 38px; }
  .btn-float-left i, .btn-float-right i {
    font-size: 23px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
  .btn-float-left:not(.bgm-gray) i, .btn-float-right:not(.bgm-gray) i {
    color: #ccc; }

/* SIDEBAR */
#sidebar {
  background: #1A237E; }
  #sidebar .main-menu {
    margin-top: 0; }
    #sidebar .main-menu li a {
      color: white; }
      #sidebar .main-menu li a:hover {
        color: white;
        background: #202b9c; }
    #sidebar .main-menu li.active a {
      background: #202b9c;
      color: white; }
    #sidebar .main-menu li.sub-menu ul {
      background: #151c65; }
      #sidebar .main-menu li.sub-menu ul li a {
        color: white; }
        #sidebar .main-menu li.sub-menu ul li a:hover, #sidebar .main-menu li.sub-menu ul li a:focus {
          color: white;
          background: #202b9c; }
        #sidebar .main-menu li.sub-menu ul li a.active {
          background: #121958;
          color: white; }
    #sidebar .main-menu li.sub-menu a:before, #sidebar .main-menu li.sub-menu a:after {
      color: white; }

/* HOME CTA */
.cta {
  margin-top: 130px; }
  .cta p {
    padding-bottom: 25px; }
  .cta .small-text {
    padding-left: 27px;
    font-size: 13px; }

.no-shadow {
  box-shadow: none !important; }

.border-blue {
  border: 1px solid #03A9F4; }

.card.debit-card {
  margin: 80px 0 120px; }

.panel {
  padding: 10px;
  background: #eee;
  border: 1px solid #ddd; }
  .panel.panel-collapse {
    background: white;
    border: none; }
    .panel.panel-collapse .panel-title a {
      font-size: 14px; }
  .panel .panel-body {
    line-height: 1.7; }

.steps-container li {
  list-style: none; }
.steps-container .thumbnail {
  border: none; }
  .steps-container .thumbnail .caption {
    padding: 0;
    margin: 0; }
    .steps-container .thumbnail .caption p {
      font-size: 12px;
      margin: 5px 0 0 0;
      text-align: center; }

.verification .input-group {
  margin-bottom: 30px; }
.verification .card {
  margin-top: 40px; }

/* SELLERS SECTION */
.announcement {
  padding: 40px 0 60px; }
  .announcement span {
    font-weight: 200;
    font-size: 30px; }

.sellers h4 {
  padding-top: 20px;
  font-size: 25px; }
.sellers p {
  line-height: 1.9;
  padding-top: 10px; }

/* PRICING SECTION */
.pricing, .marketing, .world-bg {
  padding: 30px 0 60px; }

.pricing h2 {
  margin-bottom: 60px; }
.pricing h5 {
  font-weight: bold;
  font-size: 3em;
  padding: 0 50px 0 40px; }
.pricing h2, .pricing h5 {
  color: white;
  text-align: center; }
.pricing p {
  line-height: 1.9;
  font-size: 1.3em;
  color: #0D47A1;
  text-align: center;
  padding: 20px; }

.line-right {
  border-right: 2px solid #1565C0; }

/* WHO WE ARE SECTION */
.f-hayek {
  margin-top: 40px; }
  .f-hayek p {
    line-height: 1.9; }

.mentions {
  margin-top: 40px; }
  .mentions h2 {
    padding-top: 40px; }

/* WORLD BACKGROUND SECTION */
.world-bg {
  background-color: #1A237E;
  background-image: url("../img/world.png"); }

.bgm-darkblue {
  background-color: #1A237E; }

.world-bg ::-webkit-input-placeholder, .jumbotron ::-webkit-input-placeholder {
  color: white !important;
  font-weight: 600;
  font-size: 13px; }
.world-bg :-moz-placeholder, .jumbotron :-moz-placeholder {
  /* Firefox 18- */
  color: white !important;
  font-weight: 600;
  font-size: 13px; }
.world-bg ::-moz-placeholder, .jumbotron ::-moz-placeholder {
  /* Firefox 19+ */
  color: white !important;
  font-weight: 600;
  font-size: 13px; }
.world-bg :-ms-input-placeholder, .jumbotron :-ms-input-placeholder {
  color: white !important;
  font-weight: 600;
  font-size: 13px; }
.world-bg input, .jumbotron input {
  font-size: 18px;
  font-weight: 300; }
.world-bg a, .jumbotron a {
  color: #BBDEFB; }

/* FOOTER */
.social-icons {
  margin-top: 10px; }
  .social-icons a {
    padding-left: 15px; }

.page-footer {
  padding-top: 30px;
  background-color: #F8F8F8; }

.footer-links ul {
  padding: 0; }
  .footer-links ul li {
    list-style: none;
    line-height: 25px; }
    .footer-links ul li a {
      padding-right: 15px;
      color: #5e5e5e;
      font-weight: 400;
      font-size: 13px; }

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  color: grey; }
  .footer-copyright small {
    padding: 10px 0; }
    .footer-copyright small img {
      width: 20px;
      margin-right: 10px;
      margin-left: 10px;
      margin-top: -30px; }
    .footer-copyright small b {
      padding-top: 50px; }

.modal .modal-header {
  padding-bottom: 0; }

.modal-form .input-group {
  margin-bottom: 20px !important; }
.modal-form .checkbox {
  padding: 13px 0 0 13px;
  margin: 0; }
.modal-form #promo-input {
  transition: all 0.28s linear; }
.modal-form .hidden {
  display: none; }
.modal-form .visuallyhidden {
  opacity: 0; }
.modal-form .checkbox + .checkbox {
  margin-top: 0; }

td ul.lv-attrs {
  list-style: none;
  padding: 0; }
  td ul.lv-attrs li {
    border: 1px solid #dedede;
    background: #FFFFFF;
    color: #5e5e5e;
    margin-bottom: 3px;
    padding-left: 5px;
    color: #777; }

.table .arrow {
  background: transparent url("../img/arrows.png") no-repeat scroll 0px -13px;
  width: 16px;
  height: 10px;
  display: inline-block;
  margin-right: 6px;
  background-size: 80%; }

.table .up {
  background-position: 0px -2px; }

.table .master-row:hover {
  background: #ECF9FF; }
.table .details-row {
  background: white;
  transition: all 2s linear; }

.option {
  height: 120px;
  border-radius: 2px;
  margin-bottom: 0; }
  .option img {
    margin-top: 5px;
    width: 50px; }
  .option small {
    color: #ff9800;
    text-transform: none;
    opacity: 0; }
  .option.active {
    border: 1px solid #ff9800;
    box-shadow: 0 3px 20px 0 rgba(255, 152, 0, 0.16) !important;
    transition: all 0.5s ease;
    background: #FBF6EF; }
    .option.active small {
      opacity: 1; }
    .option.active::after {
      content: "\f00c";
      font-family: FontAwesome;
      font-size: 15px;
      background: #FFE7C2;
      border-radius: 50%;
      border: 2px solid #FFB647;
      padding: 3px 6px;
      color: #FF9800;
      left: 125px;
      top: 9px;
      position: absolute;
      transition: all 0.5s ease; }

.btn-group.bootstrap-select {
  width: 100% !important; }

.btn-transparent {
  background: white;
  box-shadow: none !important;
  border: 1px solid #ADADAD;
  height: 30px;
  color: #5e5e5e;
  text-transform: none; }

.btn-transparent-blue {
  box-shadow: none !important;
  border: 1px solid #2196F3 !important;
  height: 30px;
  color: #2196F3;
  text-transform: none; }
  .btn-transparent-blue:hover, .btn-transparent-blue:active, .btn-transparent-blue:focus {
    color: #0a6ebd; }

.btn-transparent-red {
  box-shadow: none !important;
  border: 1px solid #E57373 !important;
  height: 30px;
  color: #E57373;
  text-transform: none; }
  .btn-transparent-red:hover, .btn-transparent-red:active, .btn-transparent-red:focus {
    color: #E57373; }

.no-border {
  border: none !important; }

.title-lg h2 {
  font-size: 20px !important;
  font-weight: 200 !important; }

.table-links a {
  color: #2196F3;
  font-size: 13px; }
  .table-links a:hover {
    text-decoration: underline; }

.master-row {
  border-top: 2px solid #e5e5e5; }

.nav-settings {
  border-right: 1px solid #BDBDBD; }
  .nav-settings li.active::after {
    content: "";
    float: right;
    margin-top: -23px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 6px 4px 0;
    border-color: transparent #BDBDBD transparent transparent; }
  .nav-settings li.active a {
    color: #2196F3; }
  .nav-settings li a {
    color: #666; }

.v-margin-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.modal-title {
  margin-bottom: 18px; }

.card-header .counter span {
  font-size: 20px;
  font-weight: 200;
  display: block;
  margin-top: 0; }
.card-header .counter small {
  color: #5e5e5e; }

.vault-bg {
  background-image: url("../img/icon-vault-lg.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain; }

.card-body .bootstrap-select, .modal-body .bootstrap-select {
  margin-top: 4px; }

.founder {
  float: left;
  border-radius: 50%;
  margin-right: 20px; }

/* Large devices (Laptops, Desktops 1200px and up) */
/* Medium devices (tablets, 992px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  #header {
    padding-right: 0 !important; }

  .header-inner {
    padding-bottom: 0;
    margin-bottom: 0; }

  .deposit-option.active::after {
    left: 125px;
    top: 9px; }

  .container {
    padding-left: 0; }

  .navbar-nav li {
    margin-right: 13px; }
    .navbar-nav li a {
      font-size: 13px;
      padding: 16px 0; }
    .navbar-nav li:last-child {
      margin-right: 0 !important; }

  .subnav .nav li .btn {
    margin-left: 0; }

  .dashboard-header .navbar-brand {
    margin-left: 0 !important; } }
/* Small devices (mobile, 768px and up) */
@media (max-width: 768px) {
  .container {
    padding-left: 12px; }

  #header.home-header {
    padding-right: 0;
    height: 70px; }
    #header.home-header .header-inner {
      display: inline;
      float: right; }
      #header.home-header .header-inner #menu-trigger:before {
        left: initial;
        right: 13px; }
    #header.home-header .navbar-collapse {
      padding: 0 10px;
      border: none; }
    #header.home-header .navbar-toggle {
      margin-top: 15px;
      border: none; }
      #header.home-header .navbar-toggle .icon-bar {
        background-color: #FF9800; }
      #header.home-header .navbar-toggle:hover, #header.home-header .navbar-toggle:focus {
        background: #283593; }
    #header.home-header .navbar-collapse .collapse .in {
      border: none; }

  .navbar-header .navbar-brand {
    margin-left: 20px !important; }

  .dashboard-header .navbar-brand {
    margin-left: 0 !important; }

  .subnav .nav {
    margin: 0 !important; }
    .subnav .nav li a {
      margin: 0 !important; }
    .subnav .nav li.active a {
      border: none;
      background: #ffedd6; }
  .subnav .buttons li a {
    margin: 10px !important; }
  .subnav .buttons li:last-child {
    margin-right: 0 !important; }

  .navbar-toggle.collapsed, .navbar-toggle.collapsed:active, .navbar-toggle.collapsed:focus, .navbar-toggle:active.collapsed, .navbar-toggle:active.collapsed:active, .navbar-toggle:active.collapsed:focus, .navbar-toggle:focus.collapsed, .navbar-toggle:focus.collapsed:active, .navbar-toggle:focus.collapsed:focus {
    background: white;
    border-color: #ADADAD; }

  .dashboard-header .navbar-brand {
    width: 100px !important;
    margin-top: -4px;
    margin-right: 5px;
    height: 32px; }
  .dashboard-header .header-form {
    display: none; }
  .dashboard-header .top-menu li.dropdown a {
    min-width: 45px; }

  .navbar-header .rate-mobile {
    display: block;
    float: left;
    padding-left: 10px;
    margin-top: 14px;
    width: 220px; }

  /* HOME CTA */
  .cta {
    margin-top: 40px; }
    .cta p {
      padding-bottom: 0; }
    .cta .small-text {
      text-align: center;
      padding-left: 10px;
      font-size: 10px; }

  /* DASHBOARD BLOCK HEADER */
  .block-header {
    margin-top: 0;
    margin-bottom: 40px !important;
    position: initial; }
    .block-header h3 {
      margin-top: 0;
      display: inline-block;
      font-size: 18px; }
      .block-header h3 small {
        display: none; }
      .block-header h3 img {
        height: 20px !important;
        width: 20px !important;
        margin-right: 5px !important; }
    .block-header .actions {
      display: block;
      right: -12px;
      float: left;
      text-align: left;
      width: 100%;
      position: initial; }

  /* DEPOSIT HAYEK */
  .deposit-option {
    margin-bottom: 0; }
    .deposit-option.active::after {
left: 10px;
      top: 10px; } }
/* Small devices (tablets, 768px and up) */